* {
    margin: 0;
    padding: 0;
}

/* index.css หรือ App.css */
/* html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}
 */
@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(33, 150, 243, 0.6);
    }

    70% {
        transform: scale(1.15);
        box-shadow: 0 0 0 6px rgba(33, 150, 243, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(33, 150, 243, 0);
    }
}